@import "../../components/mixins";
@import "../../components/colors";
@import "../../components/vars";

.category-toggle {
	display: flex;
	align-items: center;
	margin: 29px 0 30px 0;
}

.category-toggle__arrows {
	margin: 0 20px 0 0;
}

.category__arrow {
	width: 37px;
	height: 37px;

	background-color:rgba($c_blue, .2);
	border: none;
	outline: none;

	cursor: pointer;

	&-img {
		transition: all $tr_duration $tr_easing;
	}
}

.category__arrow-img:hover,
.category__arrow:focus .category__arrow-img {
	opacity: .5;
}

.category__arrow:active .category__arrow-img {
	opacity: .3;
}

.category__arrow--left {
	margin-right: 2px;
}

.category__arrow--right .category__arrow-img {
	transform: rotate(180deg);
}

.category-toggle .text {
	max-width: 580px;
	margin: 0;
}

.more {
	margin: 90px 0 147px 0;

	@include media($m_mob, $m_tab) {
		margin: 77px 0 124px 0;
	}

	@include media(0, $m_mob) {
		margin: 80px 0 147px 0;
	}
}

.more-content {
	display: flex;
	align-items: start;

	@include media(0, $m_mob) {
		flex-wrap: wrap;
	}
}

.popup-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: none;

	background-color: rgba($c_blue--dark, .8);
}

.popup_open {
	display: flex;
}

.close {
	position: absolute;
	top: -2px;
	right: -24px;

	width: 15px;
	height: 15px;

	background-color: transparent;
	border: none;

	transition: opacity $tr_duration $tr_easing;

	cursor: pointer;
}

.close::before {
	position: absolute;
	top: 0;
	transform: rotate(45deg);

	height: 20px;
	width: 3px;

	background-color: $c_white;
	border-radius: 25%;

	content: "";
}

.close::after {
	position: absolute;
	top: 0;
	transform: rotate(-45deg);

	height: 20px;
	width: 3px;

	background-color: $c_white;
	border-radius: 25%;

	content: "";
}

.close:hover,
.close:focus {
	opacity: .5;

	outline: none;
}

.close:active {
	opacity: .3;
}