@import "./mixins";
@import "./colors";
@import "./vars";

.menu {
	position: fixed;
	top: 73px;
	right: 0;
	bottom: 0;
	left: 0;
	
	display: none;

	z-index: 2;

	background: rgba($c_blue--dark, .7);

	&__list {
		padding: 25px 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		background: $c_white;
		box-shadow: 0px 4px 4px rgba($c_black--dark, 0.13);
	}

	&__item {
		margin-bottom: 20px;

		&:hover {
			opacity: .5;
		}

		&:active {
			opacity: .2;
		}

		&--bold {
			margin-top: 15px;
			margin-bottom: 0;

			font-weight: 700;
		}
	}

	&__link {
		font-size: 16px;
		line-height: 22px;
		text-transform: uppercase;
		color: $c_black;

		outline: none;

		transition: opacity $tr_duration $tr_easing;

		&:focus {
			opacity: .5;
		}
	}
}