@import "./mixins";
@import "./colors";
@import "./vars";

.contact-us-form {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 680px;
	margin: auto;
	padding: 42px 40px 43px 40px;

	font-family: "Roboto", "Arial", sans-serif;

	background-color: $c_gray--light;

	@include media($m_mob, $m_pc) {
		width: 648px;
		padding: 43px 56px 42px 56px;
	}

	@include media(0, $m_mob--md) {
		width: 100%;
		padding: 25px;
	}
}

.form {

	&-row {
		display: flex;
		justify-content: space-between;

		@include media(0, $m_mob--md) {
			flex-wrap: wrap;
		}
	}

	&-cell {

		&-100 {
			width: 100%;
		}

		&-50 {
			width: 100%;

			&:first-child {
				margin-right: 20px;

				@include media(0, $m_mob--md) {
					margin-right: 0;
				}
			}
		}
	}

	&-label {
		display: block;
		margin-bottom: 20px;
	
		font-size: 14px;
		line-height: 16px;
		color: $c_black;

		@include media(0, $m_mob--md) {
			margin-bottom: 15px;
		}

		&__text {
			display: block;
			margin-bottom: 6px;
		}

		&--checkbox {
			display: flex;
			align-items: center;

			@include media(0, $m_mob--md) {
				margin-top: -3px;

				align-items: stretch;
			}
		}

		&__checkbox {
			padding-left: 34px;

			@include media(0, $m_mob--md) {
				margin-top: 2px;
				padding-left: 29px;
			}
		}
	}

	&__input {
		width: 100%;
		padding: 14px 20px;
	
		font-size: 18px;
		line-height: 21px;
		color: $c_black;
	
		background-color: $c_white;
		border: 1px solid rgba($c_black--dark, .2);

		transition: border-color $tr_duration $tr_easing;

		&:focus,
		&:hover {
			border: 1px solid rgba($c_black--dark, .3);
			outline: none;
		}

		&:active {
			border: 1px solid rgba($c_black--dark, .2);
		}

		@include media($m_mob, $m_pc) {
			padding: 16px 20px 14px 19px;

			font-size: 16px;
			line-height: 19px;
		}

		@include media(0, $m_mob--md) {
			padding: 11px 20px 11px 14px;

			font-size: 14px;
			line-height: 16px;
		}
	}

	&__text {
		width: 100%;
		min-height: 150px;
		padding: 14px 20px;
	
		font-size: 18px;
		line-height: 21px;
		color: $c_black;
	
		background-color: $c_white;
		border: 1px solid rgba($c_black--dark, .2);

		transition: border-color $tr_duration $tr_easing;

		&:focus,
		&:hover {
			border: 1px solid rgba($c_black--dark, .3);
			outline: none;
		}

		&:active {
			border: 1px solid rgba($c_black--dark, .2);
		}

		@include media($m_mob, $m_pc) {
			padding: 16px 20px 14px 19px;

			font-size: 16px;
			line-height: 19px;
		}

		@include media(0, $m_mob--md) {
			padding: 11px 20px 11px 14px;

			font-size: 14px;
			line-height: 16px;
		}
	}
}

.checkbox:disabled ~ .form-label__checkbox {
	opacity: 0.5;
}

.button--form {
	max-width: 106px;

	font-family: "Open Sans", "Arial", sans-serif;
	
	@include media(0, $m_mob--md) {
		max-width: 98px;
		padding: 9px 22px 10px 22px;

		font-size: 14px;
		line-height: 19px;
	}
}

.checkbox:focus ~ .form-label__checkbox,
.form-label__checkbox:hover {
	text-decoration: underline;
}