@@if (type === "page") {
	<form class="contact-us-form contact-us-form--page" action="#">
		<div class="form-row">
			<div class="form-cell-100">
				<label class="form-label">
					<span class="form-label__text">Name</span>			
					<input class="form__input" type="text" name="name" value="Ivan Ivanov">
				</label>
			</div>
		</div>
		<div class="form-row">
			<div class="form-cell-50">
				<label class="form-label">
					<span class="form-label__text">Phone</span>	
					<input class="form__input" type="tel" name="tel">
				</label>
			</div>
			<div class="form-cell-50">
				<label class="form-label">
					<span class="form-label__text">Email</span>	
					<input class="form__input" type="email" name="email">
				</label>
			</div>
		</div>
		<label class="form-label">
			<span class="form-label__text">Message</span>	
			<textarea class="form__text" name="message"></textarea>
		</label>
		<label class="form-label form-label--checkbox">
			<input class="form__checkbox hidden" type="checkbox" name="personal-data" value="yes" checked>
			<span class="form__checker"></span>
			<span class="form-label__checkbox">By clicking on the button, you consent to the processing of your personal data</span>	
		</label>
		<button class="button button--form" type="submit">Submit</button>
	</form>
}

@@if (type === "popup") {
	<div class="popup-bg">
		<form class="contact-us-form contact-us-form--main" action="#">
			<div class="form-row">
				<div class="form-cell-100">
					<label class="form-label">
						<span class="form-label__text">Name</span>
						<input class="form__input input_focus" type="text" name="name">
					</label>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell-50">
					<label class="form-label">
						<span class="form-label__text">Phone</span>	
						<input class="form__input" type="tel" name="tel">
					</label>
				</div>
				<div class="form-cell-50">
					<label class="form-label">
						<span class="form-label__text">Email</span>	
						<input class="form__input" type="email" name="email">
					</label>
				</div>
			</div>
			<label class="form-label">
				<span class="form-label__text">Message</span>
				<textarea class="form__text" name="message"></textarea>
			</label>
			<label class="form-label form-label--checkbox">
				<input class="form__checkbox hidden" type="checkbox" name="personal-data" value="yes">
				<span class="form__checker"></span>
				<span class="form-label__checkbox">By clicking on the button, you consent to the processing of your personal data</span>
			</label>
			<button class="button button--form" type="submit" disabled>Submit</button>
			<button class="close" aria-label="Close popup window"></button>
		</form>
	</div>
}


