@import "./colors";
@import "./vars";

.page-toggle {
	margin: 50px 0 56px;

	&-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin: 0 64px 0 0;

		transition: opacity $tr_duration $tr_easing;

		&:last-child {
			margin: 0;
		}

		&:hover {
			opacity: .5;
		}

		&:active {
			opacity: .3;
		}
	}

	&__link {
		font-family: "Montserrat", "Arial", sans-serif;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
		color: $c_black;
	
		outline: none;

		&.active {
			color: $c_brown;
		}

		transition: opacity $tr_duration $tr_easing;

		&:focus {
			opacity: .5;
		}
	}
}

.arrow {
	padding: 0;

	background: none;
	border: none;
	outline: none;

	cursor: pointer;

	&--right .arrow-img {
		transform: rotate(180deg);
	}

	&-img path {
		opacity: .12;

		transition: all $tr_duration $tr_easing;
	}
}

.arrow:hover .arrow-img path,
.arrow:focus .arrow-img path {
	stroke: $c_brown;
	opacity: 1;
}
.arrow:active .arrow-img path {
	stroke: $c_brown;
	opacity: .5;
}