<div class="page-toggle @@class">
	<div class="container">
		<div class="page-toggle-content">
			<button class="arrow arrow--left" aria-label="Toggle to previous page">
				<svg class="arrow-img" width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16 2L3 15L16 28" stroke="#1E0606" stroke-width="4"/>
				</svg>
			</button>
			<ul class="page-toggle__list">
				<li class="page-toggle__item"><a class="page-toggle__link active" href="#">1</a></li>
				<li class="page-toggle__item"><a class="page-toggle__link" href="#">2</a></li>
				<li class="page-toggle__item"><a class="page-toggle__link" href="#">3</a></li>
				<li class="page-toggle__item"><a class="page-toggle__link" href="#">4</a></li>
			</ul>
			<button class="arrow arrow--right" aria-label="Toggle to next page">
				<svg class="arrow-img" width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16 2L3 15L16 28" stroke="#1E0606" stroke-width="4"/>
				</svg>
			</button>
		</div>
	</div>
</div>

