@import "../../components/mixins";
@import "../../components/colors";
@import "../../components/vars";

.category {

	&--page {
		margin: 48px 0 60px 0;

		@include media($m_mob, $m_tab) {
			margin: 29px 0 50px 0;
		}

		@include media(0, $m_mob) {
			margin: 21px 0 48px 0;
		}
	}

	&__list {
		padding: -10px -10px -11.5px -10px;
		flex-wrap: wrap;

		@include media(0, 1160px) {
			justify-content: center;
		}

		@include media(465px, $m_tab) {
			padding: -10px;
		}

		@include media(0, 465px) {
			padding: -7.88px -8px;
		}
	}

	&__item {

		margin: 10px 10px 11.5px 10px;

		@include media(465px, $m_tab) {
			width: 203px;
			height: 196px;
			margin: 10px;
		}

		@include media(991px, $m_tab) {
			width: 214px;
			margin: 10px;
		}

		@include media(0, 465px) {
			width: 160px;
			height: 155px;
			margin: 7.88px 8px;
		}
	}

	&__item:nth-child(6n+4) {
		margin-left: 210px;

		@include media(0, 1160px) {
			margin-left: 10px;
		}

		@include media(0, 465px) {
			margin-left: 8px;
		}
	}

	&__item:nth-child(3n+2) {
		@include media($m_mob, $m_tab) {
			width: 202px;
			height: 196px;
		}

		@include media(991px, $m_tab) {
			width: 214px;
		}
	}

	&__text {
		@include media($m_mob, $m_tab) {
			font-size: 24px;
			line-height: 29px;
		}

		@include media(0, $m_mob) {
			font-size: 18px;
			line-height: 22px;
		}
	}

	&__info {
		max-width: 680px;
		margin: 51px 0 0 200px;

		@include media(0, 1160px) {
			margin-left: auto;
			margin-right: auto;
		}

		@include media($m_mob, $m_tab) {
			margin: 39px 0 0 0;
		}

		@include media(0, $m_mob) {
			margin: 32px 0 0 0 ;

		}
	}

	.text--category {
		margin: 15px 0;
	}
}

.title--category-info {
	margin: 0 0 25px 0;

	@include media($m_mob, $m_tab) {
		margin: 0 0 20px 0;

		font-size: 36px;
		line-height: 44px;
	}

	@include media(0, $m_mob) {
		margin: 0 0 16px 0;

		font-size: 24px;
		line-height: 29px;
	}
}