<section class="delivery">
	<div class="container">
		<div class="delivery-content">
			<picture>
				<source srcset="/static/images/delivery.jpg, /static/images/delivery-retina.jpg 2x" media="(min-width: 1024px)">
				<source srcset="/static/images/delivery-tablet.jpg" media="(min-width: 768px) and (max-width: 1023px)">
				<source srcset="/static/images/delivery-mobile.jpg" media="(max-width: 767px)">
				<img class="delivery__img" src="/static/images/delivery.jpg" alt="Girl">
			</picture>
			<div class="delivery-info">
				<h2 class="title-two title--delivery">Delivery</h2>
				<ul class="delivery-list">
					<li class="delivery-list__item">
						<button class="delivery-list__button active">Delivery</button>
					</li>
					<li class="delivery-list__item">
						<button class="delivery-list__button">Guarantee</button>
					</li>
					<li class="delivery-list__item">
						<button class="delivery-list__button">Credit</button>
					</li>
				</ul>
				<p class="text text--delivery">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</p>
				<p class="text text--delivery">What started as an outlet to deal  with the traumatic loss of my husband, dlk has now become a truly happy place for me and i have you and all of the beautiful designers that we work with to thank!</p>
				@@include('./button/index.html', {
					"type": "button",
					"class": "button--delivery",
					"text": "Learn More"
				})
			</div>
		</div>
	</div>
</section>