@import "./mixins";
@import "./colors";
@import "./vars";

.animation {
	position: relative;

  max-width: 1586px;
	width: 100vw;
	margin: 0 auto 50px auto;

	overflow: hidden;
	
	&__sky {
		width: 100vw;
		height: 8vw;
		max-width: 1517px;
		max-height: 135px;
	}

	&__city {
		width: 100vw;
		height: 40vw;
		max-width: 1585px;
		max-height: 630px;
	}

	&__car {

		&-one {
			position: absolute;
			bottom: 31%;

			max-width: 251px;
			max-height: 100px;
			width: 17vw;
			height: 6vw;

			animation: car 10s infinite;
		}

		&-two {
			position: absolute;
			bottom: 31%;
			
			max-width: 205px;
			max-height: 97px;
			width: 15vw;
			height: 8vw;

			animation: car 10s infinite 1s;
		}

		&-three {
			position: absolute;
			bottom: 31%;

			max-width: 247px;
			max-height: 66px;
			width: 18vw;
			height: 6vw;

			animation: car 10s infinite 2s;
		}

		&-four {
			position: absolute;
			bottom: 31%;

			max-width: 269px;
			max-height: 127px;
			width: 16vw;
			height: 7.7vw;
			
			animation: car 10s infinite 3s;
		}
	}

	&__lamp {
		position: absolute;
		right: 16%;
    bottom: 6%;

		width: 12.8vw;
		height: 34.3vw;
		max-width: 215px;
		max-height: 563px;

		&-bg {
			width: 9vw;
			height: 24vw;
			max-width: 151px;
			max-height: 396px;

			&--left {
				position: absolute;
				left: 34%;
    		bottom: 26%;
			}
			
			&--right {
				position: absolute;
				right: -3%;
    		bottom: 26%;
			}
		}
	}

	&-man {
		position: absolute;
		left: 23%;
    bottom: 6%;

    width: 13vw;
    height: 26.5vw;
		max-width: 215px;
		max-height: 438px;

		&__arm {
			transform: rotate(152deg);
			transform-origin: 9% 37%;
			
			animation: arm 2s 4s;
		}
	}

	&__man-talk {
		width: 10vw;
		height: 6vw;
		max-width: 168px;
		max-height: 86px;

		&--one,
		&--two {
			position: absolute;
			left: 23%;
			bottom: 51%;
			
			opacity: 0;
		}

		&--one {
			animation: talk 2s 4s;
		}

		&--two {
			animation: talk 2s 8s;
		}
	}

	&__woman {
		position: absolute;
    left: 11%;
		bottom: 6%;
		
    width: 17.3vw;
    height: 23vw;
    max-width: 272px;
    max-height: 375px;

		&-talk {
			position: absolute;
			left: 11%;
			bottom: 40%;

			width: 10vw;
			height: 7vw;
			max-width: 169px;
			max-height: 108px;

			opacity: 0;

			animation: talk 2s 2s;
		}
	}

	&__taxi {
		position: absolute;
		right: -60%;
    bottom: 13%;

		width: 52.7vw;
		height: 16.2vw;
		max-width: 887px;
		max-height: 267px;

		animation: taxi 6s 3s;

		&-talk {
			position: absolute;
			right: 28%;
			bottom: 40%;

			width: 10vw;
			height: 7vw;
			max-width: 169px;
			max-height: 108px;

			opacity: 0;

			animation: talk 1s 6s;
		}
	}
}

@keyframes car {
  from {
    transform: translate(-1000%);
  }
  to {
    transform: translate(1000%);
  }
}

@keyframes talk {
  0% {
    opacity: 0;
	}
	
  10% {
    opacity: 1;
	}

  90% {
    opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes arm {
  0% {
    transform: rotate(152deg);
	}
	
  30% {
    transform: rotate(0deg);
	}
	
  80% {
    transform: rotate(0deg);
	}
	
	100% {
    transform: rotate(152deg);
	}
}

@keyframes taxi {
  0% {
    transform: translate(70%);
	}
	
  30% {
    transform: translate(-113.5%);
	}

  70% {
    transform: translate(-113.5%);
	}
	
  100% {
    transform: translate(-300%);
  }
}