@import "./mixins";
@import "./colors";
@import "./vars";

.filter-result {
	margin: 60px 0 47px 0;

	@include media($m_mob, $m_tab) {
		margin: 50px 0 21px 0;
	}

	@include media(0, $m_mob) {
		margin: 40px 20px 22px 20px;
	}

	&__list {	
		display: flex;
		flex-wrap: wrap;
		margin: -10px;

		@include media(0, $m_mob) {
			margin: -8px;
		}
	}

	&__item {
		width: 33.33%;
		padding: 10px;
		margin-bottom: 25px;

		text-align: center;

		@include media($m_mob, $m_tab) {
			margin-bottom: 11px;
		}

		@include media(0, $m_mob) {
			width: 50%;
			margin-bottom: 9px;
			padding: 8px;
		}
	}

	&__link {
		position: relative;

		display: block;
	
		outline: none;
	}

	&-hover {

		transition: background-color $tr_duration linear;

		&__text {
			display: none;
			margin: auto;
		
			font-family: "Montserrat", "Arial", sans-serif;
			font-size: 26px;
			font-weight: 700;
			line-height: 29px;
			text-transform: uppercase;
			color: $c_black;

			@include media($m_mob, $m_tab) {
				font-size: 21px;
				line-height: 23px;
			}

			@include media(0, $m_mob) {
				font-size: 18px;
				line-height: 20px;
			}
		}
	}

	&__name {
		margin: 27px 0 16px 0;

		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		text-transform: uppercase;
		color: $c_black;

		@include media($m_mob, $m_tab) {
			margin: 13px 0 5px 0;

			font-size: 12px;
			line-height: 16px;
		}

		@include media(0, $m_mob) {
			margin: 9px 0 3px 0;

			font-size: 12px;
			line-height: 16px;
		}
	}

	&__cost {
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		text-align: center;
		color: $c_black;

		@include media($m_mob, $m_tab) {
			font-size: 14px;
			line-height: 19px;
		}

		@include media(0, $m_mob) {
			font-size: 12px;
			line-height: 16px;
		}
	}
}

.filter-result__item:hover .filter-result-hover,
.filter-result__link:focus .filter-result-hover {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	width: 54%;
	height: 54%;

	background-color: rgba($c_gray--light, .9);
}

.filter-result__item:active .filter-result-hover {
	background-color: rgba($c_gray--light, .67);
}

.filter-result__item:hover .filter-result-hover__text,
.filter-result__link:focus .filter-result-hover__text {
	display: block;
}