@import "./colors";
@import "./vars";

.widget {
	max-width: 543px;
	margin-top: 23px;
	margin-right: 57px;
	padding: 0 30px 15px 30px;

	background-color: rgba($c_blue, .2);

	@include media($m_mob, $m_tab) {
		margin-top: 24px;
		margin-right: 19px;
		padding: 0 19px 15px 15px;
	}

	@include media(0, $m_mob) {
		width: 100%;
		margin: 0 auto 24px auto;
		padding: 0 20px 5px 20px;
	}

	&__subtitle {
		margin: 0 0 10px 0;

		font-family: "Crimson Text", "Georgia", serif;
		font-size: 26px;
		font-weight: 400;
		font-style: italic;
		line-height: 32px;

		@include media($m_mob, $m_tab) {
			margin: 0 0 8px 0;
		}

		@include media(0, $m_mob) {
			margin: 0 0 8px 0;

			font-size: 24px;
			line-height: 30px;
		}
	}

	.title--widget {
		margin: -25px 0 12px 0;
	
		@include media($m_mob, $m_tab) {
			margin: -22px 0 12px -1px;

			font-size: 30px;
		}

		@include media(0, $m_mob) {
			margin: -23px 0 3px 0;

			font-size: 24px;
		}
	}

	.text--widget {
		margin: 10px 0;

		@include media($m_mob, $m_tab) {
			margin: 0 0 8px 0;
		}

		@include media(0, $m_mob) {
			margin: 0 0 16px 0;

			font-size: 14px;
			line-height: 19px;
		}
	}
}


.button--widget {
	max-width: 123px;
	margin: 20px 0;

	@include media(0, $m_mob) {
		max-width: 109px;
		margin-top: 0;
		padding: 9px 20px;
		font-size: 14px;
		line-height: 19px;
	}
}