@import "./mixins";
@import "./colors";
@import "./vars";

.category {
	margin: 90px 0 90px 0;

	&-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;

		&__item {
			position: relative;

			width: 280px;
			height: 270px;
			margin: 0 10px 23px 10px;

			&:nth-child(1) {
				background: #dbe4db url(/static/images/category-1.png) center no-repeat;
			}
	
			&:nth-child(2) {
				background: rgba(#ba8e6b, .3) url(/static/images/category-2.png) center no-repeat;
			}
			
			&:nth-child(3) {
				background: #f8f2da url(/static/images/category-3.png) center no-repeat;
			}
	
			&:nth-child(4) {
				background: rgba(#09034f, .17) url(/static/images/category-4.png) center no-repeat;
			}
	
			&:nth-child(5) {
				background: rgba(#cf446f, .25) url(/static/images/category-5.png) center no-repeat;
			}
	
			&:nth-child(6) {
				background: rgba($c_blue--dark, .2) url(/static/images/category-6.png) center no-repeat;
			}

			&:hover .category-list__title {
				text-decoration: underline;
			}
		}

		&__link {
			display: flex;
			width: 100%;
			height: 100%;
		
			outline: none;

			&:focus .category-list__title {
				text-decoration: underline;
			}
		}

		&__img {
			margin: auto;
		}

		&__title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		
			margin: 0;
		
			font-family: "Montserrat", "Arial", sans-serif;
			font-size: 26px;
			line-height: 32px;
			text-align: center;
			text-transform: uppercase;
			color: $c_white;
		}
	}
}