<li class="category-list__item">
	<a class="category-list__link" href="@@link">
		<picture>
			<source srcset="/static/images/category-@@img.png, /static/images/category-@@img-retina.png 2x" media="(min-width: 1024px)">
			<source srcset="/static/images/category-@@img-tablet-main.png" media="(min-width: 768px) and (max-width: 1023px)">
			<source srcset="/static/images/category-@@img-mobile-main.png" media="(max-width: 767px)">
			<img class="category-list__img" src="/static/images/category-@@img.png" alt="@@alt">
		</picture>
		<h3 class="category-list__title">@@title</h3>
	</a>
</li>
