@import "./mixins";
@import "./colors";
@import "./vars";

.contact-us {
	margin: 48px 0 59px 0;

	@include media($m_mob, $m_tab) {
		margin: 43px 0 50px 0;
	}

	@include media(0, $m_mob--md) {
		margin: 24px 0 50px 0;
	}

	&-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: start;

		@include media(0, $m_pc) {
			justify-content: center;
		}
	}

	&-form {

		&--page {
			margin: 0;
		}
	}

	&-info {
		max-width: 380px;

		@include media(0, $m_pc) {
			order: -1;

			text-align: center;
		}

		@include media($m_mob, $m_pc) {
			max-width: 536px;
			margin-bottom: 25px;
		}

		@include media(0, $m_mob) {
			max-width: 100%;
			margin-bottom: 25px;
		}

		&__accent {
			display: block;
			margin: 20px 0;
			
			font-family: "Montserrat", "Arial", sans-serif;
			font-size: 26px;
			font-weight: 600;
			line-height: 34px;
			text-transform: uppercase;
			color: $c_brown;

			@include media(0, $m_mob--md) {
				margin: -2px 0 2px 0;
				padding: 0 10px;
				
				font-size: 24px;
			}
		}
	}

	.text--contact-us {
		margin: 0 0 20px 0;

		@include media(0, $m_mob--md) {
			margin: 0 0 16px 0;

			font-size: 14px;
			line-height: 19px;
		}
	}
}
