<section class="contact-us">
	<div class="container-content">
		<div class="contact-us-content">
			<h2 class="title-two hidden">Contact Us Form</h2>
			@@include('form/index.html', {
				"type": "page"
			})
			<div class="contact-us-info">
				<p class="text text--contact-us">Our support team are on-hand to assist with any issues you are experiencing.</p>
				<p class="text text--contact-us">Please use the form to contact us with your needs. Send us a message and we'll respond as soon as possible.</p>
				<span class="contact-us-info__accent">An expert is waiting to help you!</span>
			</div>
		</div>
	</div>
</section>