@import "./mixins";
@import "./colors";
@import "./vars";

.svg {

	margin: 28px 0 37px -20px;

	@include media(0, $m_mob--md) {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 0;
	}

	@include media(0, 458px) {
		width: 100%;
	}

	&:hover {

		.svg__blue {
			stroke: #ffce54;
		}

		.svg__green {
			stroke: #ed5565;
		}
	
		.svg__red {
	
			&--stroke {
				stroke: #a0d468;
			}
	
			&--fill {
				fill: #a0d468;
			}
		}
	
		.svg__yellow {
	
			&--stroke {
				stroke: #5d9cec;
			}
	
			&--fill {
				fill: #5d9cec;
			}
		}

		.svg__sun {
			transform: scale(1.07);
			fill: darken(#ffce54, 20%)
		}
	}

	&__blue,
	&__green,
	&__red,
	&__yellow,
	&__sun {
		transition: all $tr_duration $tr_easing;
	}
}