@import "./mixins";
@import "./colors";
@import "./vars";

.filter {
	background-color: rgba($c_blue--dark, .2);

	&-form {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		padding: 43px 0 26px 0;

		@include media($m_mob, $m_pc) {
			padding: 30px 0 20px 0;
		}
		
		@include media(0, $m_mob) {
			padding: 25px 20px;
		}

		&__field {
			margin: 0;
			padding: 0;
		
			border: none;

			&--cost {
				margin-right: 94px;

				@include media($m_mob, $m_pc) {
					margin-right: 75px;
				}

				@include media(0, $m_mob) {
					margin-right: 73px;
					margin-bottom: 26px;
				}
			}

			&--color {
				margin-right: 124px;

				@include media($m_mob, $m_pc) {
					margin-right: 92px;
				}

				@include media(0, $m_mob) {
					margin-right: 112px;
				}
			}

			&--delivery {
				margin-right: 69px;

				@include media($m_mob, $m_pc) {
					margin-right: 50px;
				}

				@include media(0, $m_mob) {
					margin-right: 45px;
				}
			}

			&--choice {
				max-width: 240px;
				margin-right: 61px;

				@include media($m_mob, $m_pc) {
					margin-top: 6px;
					margin-right: 210px;
				}

				@include media(0, $m_mob) {
					margin-top: 15px;
					margin-right: 50px;
				}
			}
		}

		&__legend {
			margin-bottom: 15px;

			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			color: $c_black;

			@include media($m_mob, $m_pc) {
				margin-bottom: 15px;
			}
			
			@include media(0, $m_mob) {
				margin-bottom: 11px;

				font-size: 14px;
				line-height: 19px;
			}

			&--delivery {
				margin-bottom: 13px;
			}
		}

		&__label {

			&--choice {
				display: inline-block;
				width: 80px;
				padding: 9px 0 8px 0;
			
				text-align: center;
			
				background-color: $c_white;

				transition: all $tr_duration $tr_easing;

				@include media(0, $m_mob) {
					padding: 6px 6px 4px 2px;

					font-size: 14px;
					line-height: 19px;
				}
			}
		}

		&__list {

			&--choice {
				display: flex;
				flex-wrap: wrap;
			}
		}

		&__item {
			position: relative;

			&--checkbox {
				margin-bottom: 15px;

				@include media(0, $m_mob) {
					margin-bottom: 11px;
				}
			}

			&--radio {
				margin-bottom: 10px;

				@include media(0, $m_mob) {
					margin-bottom: 13px;
				}
			}
		}

		&__text {
			font-size: 16px;
			line-height: 22px;
			color: $c_black;

			@include media(0, $m_mob) {
				font-size: 14px;
				line-height: 19px;
			}

			&--checkbox {
				padding-left: 29px;

				@include media(0, $m_mob) {
					padding-left: 24px;
				}

				&:hover {
					text-decoration: underline;
				}
			}

			&--radio {
				padding-left: 30px;

				@include media(0, $m_mob) {
					padding-left: 23px;
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__range {
			-webkit-appearance: none;

			width: 188px;
			height: 4px;
			margin: 0 14px 15px 5px;
		
			background-color: rgba($c_black--dark, .5);
			outline: none;

			transition: background-color $tr_duration $tr_easing;

			@include media($m_mob, $m_pc) {
				width: 184px;
				margin: 0 14px 16px 5px;
			}

			@include media(0, $m_mob) {
				width: 184px;
				margin: 0 14px 10px 5px;
			}

			&:focus {
				background-color: $c_brown;
			}
			
			&::-webkit-slider-thumb {
				-webkit-appearance: none;

				width: 24px;
				height: 24px;
			
				background-color: $c_white;
				border: 8.5px solid $c_brown;
				border-radius: 50%;

				&:active {
					opacity: .9;
				}
			}

			&-box {
				display: flex;
				justify-content: space-between;
			}
		}

		&__checkbox {
			&:disabled ~ .filter-form__checkbox-checker,
			&:disabled ~ .filter-form__text {
				opacity: .5;
			}

			&:checked ~ .filter-form__checkbox-checker::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			
				background-color: $c_white;
			
				content: "";
			}

			&:checked ~ .filter-form__checkbox-checker::after {
				position: absolute;
				top: -2px;
				left: 1px;
			
				width: 15px;
				height: 15px;
			
				background-image: url(/static/images/icon-check.svg);
				
				content: "";

				@include media(0, $m_mob) {
					left: 0;
				}
			}

			&:focus ~ .filter-form__text {
				text-decoration: underline;
			}

			&-checker {
				position: absolute;

				width: 19px;
				height: 19px;
			
				border: 2px solid $c_brown;
				border-radius: 3px;

				@include media(0, $m_mob) {
					width: 17px;
					height: 17px;
				}
			}
		}

		&__radio {

			&:disabled ~ .filter-form__radio-checker,
			&:disabled ~ .filter-form__text {
				opacity: .5;
			}

			&:checked ~ .filter-form__radio-checker::before {
				position: absolute;
				top: 2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
			
				background-color: $c_brown;
				border-radius: 50%;
			
				content: "";
				
			}

			&:focus ~ .filter-form__text {
				text-decoration: underline;
			}

			&-checker {
				position: absolute;

				width: 20px;
				height: 20px;
			
				border: 2px solid $c_brown;
				border-radius: 50%;

				@include media(0, $m_mob) {
					width: 16px;
					height: 16px;
				}
			}
		}

		&__choice {

			&-button {
				margin-bottom: 10px;

				.filter-form__choice:checked + .filter-form__label {
					background-color: $c_white--checkbox;
				}

				.filter-form__choice:hover + .filter-form__label {
					background-color: $c_white--checkbox;
					text-decoration: underline;
				}

				.filter-form__choice:active + .filter-form__label {
					background-color: $c_white--checkbox;
					opacity: .5;
				}

				.filter-form__choice:focus + .filter-form__label {
					text-decoration: underline;
				}
			}
		}
	}
}

.button--filter__form {
	margin-top: 36px;

	@include media($m_mob, $m_pc) {
		margin-top: 38px;
	}

	@include media(0, $m_mob) {
		margin: 15px auto 0 auto;
	}
}
