@import "./mixins";
@import "./colors";
@import "./vars";

.std-page {
	margin: 13px 0 48px 0;

	@include media($m_mob, $m_tab) {
		margin: 35px 0 28px 0;
	}

	@include media(0, $m_mob--md) {
		margin: 20px 20px 19px 20px;
	}

	.title-one {
		@include media($m_mob--md, $m_tab) {
			margin-bottom: 12px;

			font-size: 36px;
			line-height: 44px;
		}

		@include media(0, $m_mob--md) {
			margin-bottom: 10px;
			
			font-size: 24px;
			line-height: 29px;
		}
	}
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;

	&__item {
		position: relative;

		margin: 0 48px 0 0;

		@include media(0, $m_mob--md) {
			margin: 0 35px 0 0;
		}

		&:hover .breadcrumbs__link {
			text-decoration: underline;
		}

		&::after {
			position: absolute;
			top: 4px;
			right: -30px;
		
			width: 8px;
			height: 12px;
		
			background: url(/static/images/icon-arrow-small.svg) center / cover no-repeat;
		
			content: "";

			@include media(0, $m_mob--md) {
				top: 6px;
				right: -21px;

				width: 6px;
				height: 9px;
			}
		}

		&:last-child::after {
			background: none;
		}
	}

	&__link {
		font-family: "Crimson Text", "Georgia", serif;
		font-size: 20px;
		font-style: italic;
		line-height: 25px;
		text-decoration-color: transparent;
		color: $c_black;
	
		outline: none;

		transition: text-decoration-color $tr_duration $tr_easing;

		&:focus {
			text-decoration: underline;
		}

		@include media(0, $m_mob--md) {
			font-size: 16px;
			line-height: 20px;
		}

		&--gray {
			opacity: .5;

			cursor: default;
			pointer-events: none;
		}
	}
}