@@if (type === "blog") {
	<section class="std-page">
		<div class="container">
			<div class="std-page-content">
				<h1 class="title-one">Blog</h1>
				<ul class="breadcrumbs">
					<li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/index.html">Home</a></li>
					<li class="breadcrumbs__item"><a class="breadcrumbs__link breadcrumbs__link--gray" href="#">Blog</a></li>
				</ul>
			</div>
		</div>
	</section>
}

@@if (type === "category") {
	<section class="std-page">
		<div class="container">
			<div class="std-page-content">
				<h1 class="title-one">Category Products</h1>
				<ul class="breadcrumbs">
					<li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/index.html">Home</a></li>
					<li class="breadcrumbs__item"><a class="breadcrumbs__link breadcrumbs__link--gray" href="#">Catalog</a></li>
				</ul>
			</div>
		</div>
	</section>
}

@@if (type === "contact-us") {
	<section class="std-page">
		<div class="container">
			<div class="std-page-content">
				<h1 class="title-one">Contact Us</h1>
				<ul class="breadcrumbs">
					<li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/index.html">Home</a></li>
					<li class="breadcrumbs__item"><a class="breadcrumbs__link breadcrumbs__link--gray" href="#">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</section>
}

@@if (type === "toys") {
	<section class="std-page">
		<div class="container">
			<div class="std-page-content">
				<h1 class="title-one">Toy for kids</h1>
				<ul class="breadcrumbs">
					<li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/index.html">Home</a></li>
					<li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/pages/category/index.html">Catalog</a></li>
					<li class="breadcrumbs__item"><a class="breadcrumbs__link breadcrumbs__link--gray" href="#">Toys</a></li>
				</ul>
			</div>
		</div>
	</section>
}

@@if (type === "animation") {
	<section class="std-page">
		<div class="container">
			<div class="std-page-content">
				<h1 class="title-one">Animation Scene</h1>
				<ul class="breadcrumbs">
					<li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/index.html">Home</a></li>
					<li class="breadcrumbs__item"><a class="breadcrumbs__link breadcrumbs__link--gray" href="#">Animation</a></li>
				</ul>
			</div>
		</div>
	</section>
}

@@if (type === "svg") {
	<section class="std-page std-page--svg">
		<div class="container">
			<div class="std-page-content">
				<h1 class="title-one">SVG Animation</h1>
				<ul class="breadcrumbs">
					<li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/index.html">Home</a></li>
					<li class="breadcrumbs__item"><a class="breadcrumbs__link breadcrumbs__link--gray" href="#">SVG</a></li>
				</ul>
			</div>
		</div>
	</section>
}

@@if (type === "grid") {
	<section class="std-page">
		<div class="container">
			<div class="std-page-content">
				<h1 class="title-one">Grid</h1>
				<ul class="breadcrumbs">
					<li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/index.html">Home</a></li>
					<li class="breadcrumbs__item"><a class="breadcrumbs__link breadcrumbs__link--gray" href="#">Grid</a></li>
				</ul>
			</div>
		</div>
	</section>
}