<header class="header">
	<div class="container">
		<div class="header-content">
			<a class="logo" href="/index.html">
				<img class="logo__img" src="/static/images/logo.png" width="100" height="52" alt="Logo">
			</a>
			<nav class="header-nav">
				<ul class="header-nav-list">
					<li class="header-nav__item"><a class="header-nav__link" href="/pages/blog/index.html">Blog</a></li>
					<li class="header-nav__item"><a class="header-nav__link" href="/pages/category/index.html">Catalog</a></li>
					<li class="header-nav__item"><a class="header-nav__link" href="#">About Us</a></li>
					<li class="header-nav__item"><a class="header-nav__link" href="/pages/animation/index.html">Animation</a></li>
					<li class="header-nav__item"><a class="header-nav__link" href="/pages/svg/index.html">SVG</a></li>
					<li class="header-nav__item"><a class="header-nav__link" href="/pages/grid/index.html"">Grid</a></li>
				</ul>
			</nav>
			<ul class="info-bar">
				<li class="info-bar__item">
					<button class="button-search" aria-label="Search"><img class="info-bar__search" src="/static/images/icon-search.svg" width="18" height="18" alt="Search"></button>
				</li>
				<li class="info-bar__item"><a class="info-bar__link" href="/pages/contact-us/index.html">Contact Us</a></li>
			</ul>
		</div>
	</div>
</header>