<header class="header">
	<div class="container">
		<div class="header__content">
			<a class="header__logo logo" href="/index.html">
				<img class="logo__img" src="/static/images/logo.png" width="100" height="52" alt="Logo">
			</a>
			<nav class="header__nav header-nav">
				<ul class="header-nav__list">
					<li class="header-nav__item"><a class="header-nav__link" href="/pages/blog/index.html">Blog</a></li>
					<li class="header-nav__item"><a class="header-nav__link" href="/pages/category/index.html">Catalog</a></li>
					<li class="header-nav__item"><a class="header-nav__link" href="#">About Us</a></li>
					<li class="header-nav__item"><a class="header-nav__link" href="/pages/animation/index.html">Animation</a></li>
					<li class="header-nav__item"><a class="header-nav__link" href="/pages/svg/index.html">SVG</a></li>
					<li class="header-nav__item"><a class="header-nav__link" href="/pages/grid/index.html">Grid</a></li>
				</ul>
			</nav>
			<button class="header__open" aria-label="open mobile menu">Menu</button>
			<button class="header__close" aria-label="close mobile menu"></button>
			<ul class="header__info header-info">
				<li class="header-info__item">
					<button class="header-info__button" aria-label="Search"><img class="header-info__img" src="/static/images/icon-search.svg" width="18" height="18" alt="Search"></button>
				</li>
				<li class="header-info__item header-info__item--contact"><a class="header-info__link" href="/pages/contact-us/index.html">Contact Us</a></li>
			</ul>
		</div>
	</div>
</header>