$c_black: #1e0606;
$c_black--dark: #000;

$c_gray: #666;
$c_gray--bright: #bcbcbe;
$c_gray--light: #e5eaf8;
$c_gray--dark: #2c3036;

$c_white: #fff;
$c_white--checkbox: #f3d0db;

$c_blue--light:#2198F4;
$c_blue: #70bbdc;
$c_blue--dark: #7d97da;

$c_brown--dark: #836e5b;
$c_brown: #c29974;
$c_brown--light: #cfaf91;

$c_yellow: #ffc80a;