// Подключение компонентов
@import "./normalize";
@import "./button/button";
@import "./header/header";
@import "./footer/footer";
@import "./menu/menu";
@import "./form/form";
@import "./slider/slider";
@import "./category/category";
@import "./delivery/delivery";
@import "./partners/partners";
@import "./widget/widget";
@import "./map/map";
@import "./std-page/std-page";
@import "./blog/blog";
@import "./page-toggle/page-toggle";
@import "./contact-us/contact-us";
@import "./filter/filter";
@import "./filter-result/filter-result";
@import "./animation-svg/animation-svg";
@import "./grid/grid";
@import "./star/star";
@import "./checkbox/checkbox";

body {
	font-family: "Open Sans", "Arial", sans-serif;
}

a {
	text-decoration: none;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	margin: 0;

	list-style: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;

	&-grid {
/* 		padding-left: $gap/2;
		padding-right: $gap/2; */
		margin-left: auto;
		margin-right: auto;
	}

	&-fluid {
		width: 100%;
		padding-left: $gap;
		padding-right: $gap;
	}

	@include media($m_tab, $m_pc) {
		padding: 0 40px;
	}

	@include media($m_mob--md, $m_tab) {
		padding: 0 60px;
	}

	@include media(0, $m_mob--md) {
		padding: 0;
	}
}

.row {
	display: flex;
	margin: (-$gap / 2);

	.content {
		padding: 15px;
		height: 270px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.col {
	flex-basis: 0;
	flex-grow: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

[class*="col-"] {
	padding: $gap/2;
}

.hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* text and titles */

.title {
	&-one {
		margin: 4px 0 19px 0;

		font-family: "Montserrat", "Arial", sans-serif;
		font-size: 40px;
		line-height: 44px;
		color: $c_black;
		text-transform: uppercase;
	}
	
	&-two {
		font-family: "Montserrat", "Arial", sans-serif;
		font-size: 38px;
		line-height: 46px;
		color: $c_black;
		text-transform: uppercase;
	}
}

.text {
	font-size: 16px;
	line-height: 22px;
	color: $c_black;

	transition: opacity $tr_duration $tr_easing;
	transition: color $tr_duration $tr_easing;

	&--white {
		color: $c_white;

		outline: none;
	}

	&--gray {
		color: #a2a2a2;
	}
}
