@import "./mixins";
@import "./colors";
@import "./vars";

.partners {
	margin: 90px 0;

	@include media($m_mob, $m_tab) {
		margin: 60px 0;
	}

	@include media(0, $m_mob) {
		margin: 80px 25px;
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		&__link {

			display: block;
			line-height: 0;
		
			outline: none;

			transition: opacity $tr_duration $tr_easing;

			&:focus {
				opacity: .5;
			}
		}

		&__item {

			@include media(0, $m_mob) {
				width: 50%;
				margin-bottom: 25px;

				text-align: center;
			}

			transition: opacity $tr_duration $tr_easing;

			&:hover {
				opacity: .5;
			}

			&:active {
				opacity: .3;
			}
		}

		&__img {
			@include media(0, $m_mob) {
				margin: 0 auto;
			}
		}
	}
}