<section class="partners">
	<div class="container">
		<div class="partners-container">
			<h2 class="title-two hidden">Partners</h2>
			<ul class="partners-list">
				<li class="partners-list__item">
					<a class="partners-list__link" href="#">
						<picture>
							<source srcset="/static/images/partner-1.png, /static/images/partner-1-retina.png 2x" media="(min-width: 1024px)">
							<source srcset="/static/images/partner-1-tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
							<source srcset="/static/images/partner-1-mobile.png" media="(max-width: 767px)">
							<img class="partners-list__img" src="/static/images/partner-1.png" alt="Mail.ru Group">
						</picture>
					</a>
				</li>
				<li class="partners-list__item">
					<a class="partners-list__link" href="#">
						<picture>
							<source srcset="/static/images/partner-2.png, /static/images/partner-2-retina.png 2x" media="(min-width: 1024px)">
							<source srcset="/static/images/partner-2-tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
							<source srcset="/static/images/partner-2-mobile.png" media="(max-width: 767px)">
							<img class="partners-list__img" src="/static/images/partner-2.png" alt="Apple">
						</picture>
					</a>
				</li>
				<li class="partners-list__item">
					<a class="partners-list__link" href="#">
						<picture>
							<source srcset="/static/images/partner-3.png, /static/images/partner-3-retina.png 2x" media="(min-width: 1024px)">
							<source srcset="/static/images/partner-3-tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
							<source srcset="/static/images/partner-3-mobile.png" media="(max-width: 767px)">
							<img class="partners-list__img" src="/static/images/partner-3.png" alt="Eltex">
						</picture>
					</a>
				</li>
				<li class="partners-list__item">
					<a class="partners-list__link" href="#">
						<picture>
							<source srcset="/static/images/partner-4.png, /static/images/partner-4-retina.png 2x" media="(min-width: 1024px)">
							<source srcset="/static/images/partner-4-tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
							<source srcset="/static/images/partner-4-mobile.png" media="(max-width: 767px)">
							<img class="partners-list__img" src="/static/images/partner-4.png" alt="Owox">
						</picture>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>