<section class="partners">
	<div class="container">
		<div class="partners-container">
			<h2 class="title-two hidden">Partners</h2>
			<ul class="partners-list">
				<li class="partners-list__item">
					<a class="partners-list__link" href="#">
						<img class="partners-list__img" src="/static/images/partner-1.png" width="193" height="60" alt="Mail.ru Group">
					</a>
				</li>
				<li class="partners-list__item">
					<a class="partners-list__link" href="#">
						<img class="partners-list__img" src="/static/images/partner-2.png" width="179" height="61" alt="Apple">
					</a>
				</li>
				<li class="partners-list__item">
					<a class="partners-list__link" href="#">
						<img class="partners-list__img" src="/static/images/partner-3.png" width="216" height="46" alt="Eltex">
					</a>
				</li>
				<li class="partners-list__item">
					<a class="partners-list__link" href="#">
						<img class="partners-list__img" src="/static/images/partner-4.png" width="211" height="40" alt="Owox">
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>