@import "./mixins";
@import "./colors";
@import "./vars";

.checkbox {

	&:disabled ~ .checkbox__checker {
		opacity: .5;
	}

	&:checked ~ .checkbox__checker::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	
		background-color: $c_white;
	
		content: "";
	}

	&:checked ~ .checkbox__checker::after {
		position: absolute;
		top: -2px;
		left: 1px;
	
		width: 15px;
		height: 15px;
	
		background-image: url(/static/images/icon-check.svg);
	
		content: "";

		@include media(0, $m_mob--md) {
			top: -2px;
			left: 0;
		}
	}

	&__checker {
		position: absolute;
	
		width: 19px;
		height: 19px;
	
		border: 2px solid $c_brown;
		border-radius: 3px;
	
		@include media(0, $m_mob--md) {
			width: 17px;
			height: 17px;
		}
	}
}