@import "./mixins";
@import "./colors";
@import "./vars";

.footer {
	padding: 100px 0;

	background-color: #434343;

	&-content {
		margin: 0 -10px;
	}

	&-box {
		display: flex;
		margin-bottom: 7px;
		padding: 0 0 13px 0;
	
		border-bottom: 1px solid $c_gray;
	}

	&__flex {
		width: 33.33%;
		padding: 0 10px;
	}

	&-nav {

		&-list {
			margin: 0;
		}

		&__item {
			margin: 0 0 15px 0;

			transition: opacity $tr_duration $tr_easing;

			&:hover {
				opacity: .5;
			}

			&:active {
				opacity: .2;
			}
		}
	}

	&-bottom {
		display: flex;
		justify-content: space-between;
	}
}

.text--white:focus {
	opacity: .5;
}

.connect-form {
	display: flex;
	margin-top: -3px;

	&__input {
		width: 100%;
		padding-left: 15px;
	
		font-size: 16px;
		line-height: 22px;
		color: #ebebeb;
	
		background-color: $c_gray;
		border: 1px solid transparent;
		outline: none;

		transition: border $tr_duration $tr_easing;

		&::placeholder {
			font-size: 16px;
			line-height: 22px;
			color: #ebebeb;
		}

		&:focus {
			border: 1px solid #fffdfd;
		}
	}
}

.social-list {
	display: flex;
	flex-wrap: wrap;
	margin: 25px 0 25px 2px;

	&__item {
		width: 30px;
		height: 30px;
		margin: 0 10px 10px 0;
		padding: 0;
	
		background-color: $c_gray;
		border-radius: 15px;

		transition: opacity $tr_duration $tr_easing;

		&:hover {
			opacity: .5;
		}

		&:active {
			opacity: .2;
		}
	}

	&__link {
		display: flex;
		width: 100%;
		height: 100%;
	
		line-height: 0;
	
		outline: none;

		transition: opacity $tr_duration $tr_easing;

		&:focus {
			opacity: .5;
		}
	}

	&__img {
		margin: auto;
	}
}

.text--stars {
	margin-right: 28px;
	transition: color $tr_duration $tr_easing;
}

.stars {
	display: flex;
	align-items: center;

	&-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;

		&__item {
			margin: 0 6px 0 0;
		}

		&__img {

			path {
				transition: fill $tr_duration $tr_easing;
			}
		}

		&__button {
			padding: 0;

			background: none;
			border: none;
			outline: none;
		
			cursor: pointer;

			&:hover .stars-list__img path {
				fill: $c_brown--dark;
			}
			&:focus .stars-list__img path {
				fill: $c_brown--dark;
			}
			&:active .stars-list__img path {
				fill: $c_brown;
			}
		}
	}

	&:hover .text--stars {
		color: $c_brown;
	}
}
.text--design {
	display: block;
	margin: 16px 0;

	outline: none;

	&:hover,
	&:focus {
		text-decoration: underline;
		color: $c_white;
	}
}