@import "../../components/mixins";
@import "../../components/colors";
@import "../../components/vars";

.header {
	padding-top: 32px;
}

.std-page--svg {
	margin-top: 10px;
	margin-bottom: 0;
}

.title-one {
	margin-bottom: 12px;
	
	font-size: 36px;
}