@import "./mixins";
@import "./colors";
@import "./vars";

.blog-list {

	&__item {
		margin-bottom: 14px;

		@include media($m_mob, $m_tab) {
			margin-bottom: 10px;
		}

		@include media($m_mob, $m_mob--md) {
			margin-botton: 5px;
		}

		@include media(0, $m_mob--md) {
			margin-bottom: 5px;
		}
	}

	&__link {
		outline: none;

		&:focus .blog-list__title {
			text-decoration: underline;
		}
	}

	&__date {
		display: block;
		margin-top: 17px;
	
		font-family: "Roboto", "Arial", sans-serif;
		font-size: 16px;
		line-height: 19px;
		color: #818181;

		@include media($m_mob, $m_tab) {
			margin-top: 12px;
		}

		@include media(0, $m_mob) {
			margin-top: 7px;

			font-size: 14px;
			line-height: 16px;
		}
	}

	&__title {
		margin: 10px 0;

		font-family: "Montserrat", "Arial", sans-serif;
		font-size: 24px;
		line-height: 31px;
		text-decoration-color: transparent;
		color: $c_black;

		transition: text-decoration-color $tr_duration $tr_easing;

		&:hover {
			text-decoration: underline;
		}

		@include media($m_mob, $m_tab) {
			margin-top: 5px;
		}

		@include media(0, $m_mob) {
			margin: 4px 0;

			font-size: 18px;
			line-height: 22px;
		}
	}

	&__text {
		margin-top: 15px;
		margin-bottom: 0;

		font-size: 18px;
		line-height: 25px;
		color: $c_black;

		@include media($m_mob, $m_tab) {
			margin-top: 10px;
		}

		@include media(0, $m_mob) {
			margin-top: 7px;
			
			font-size: 16px;
			line-height: 22px;
		}
	}
}