<li class="blog-list__item col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
	<a class="blog-list__link" href="#">
		<picture>
			<source srcset="/static/images/blog-@@img.jpg, /static/images/blog-@@img-retina.jpg 2x" media="(min-width: 1024px)">
			<source srcset="/static/images/blog-@@img-tablet.jpg" media="(min-width: 768px) and (max-width: 1023px)">
			<source srcset="/static/images/blog-@@img-mobile.jpg" media="(max-width: 767px)">
			<img class="blog-list__img" src="/static/images/blog-@@img.jpg" alt="@@alt">
		</picture>
		<span class="blog-list__date">@@date</span>
		<h2 class="blog-list__title">@@title</h2>
		<p class="blog-list__text">@@text</p>
	</a>
</li>
