<section class="map">
	<h2 class="title-two title--map">Contacts</h2>
	<p class="text text--map">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely shocked that four years have flown by. It's simply magical.</p>
	<div class="map-item">
		<iframe class="map-item__img" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d296.56713817888084!2d49.290536768093354!3d53.51246388725061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41687981eb958267%3A0x6ccac75f60f1136c!2z0JDQstGC0L7Qt9Cw0LLQvtC00YHQutC40Lkg0YAt0L0sINCi0L7Qu9GM0Y_RgtGC0LgsINCh0LDQvNCw0YDRgdC60LDRjyDQvtCx0LsuLCA0NDUwMjc!5e0!3m2!1sru!2sru!4v1598811791588!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
		</iframe>
	</div>
</section>