@import "./mixins";
@import "./colors";
@import "./vars";

.slider {
	margin: 78px 0 90px 0;

	@include media($m_mob, $m_tab) {
		margin: 0 0 60px 0;
	}

	@include media(0, $m_mob) {
		margin: 0 0 80px 0;
	}

	&-body {
		position: relative;

		display: flex;
	
		background-color: #eee4db;
	}

	&__number {
		position: absolute;
		top: 19px;
		left: 28px;
	
		margin: 0;
	
		font-family: "Montserrat", "Arial", sans-serif;
		font-weight: 300;
		font-size: 60px;
		line-height: 73px;
		color: rgba($c_black, .05);

		@include media($m_mob--md, $m_pc) {
			top: 11px;
			left: 0;

			font-size: 48px;
		}

		@include media(0, $m_mob) {
			top: 14px;
			left: auto;
			right: 20px;

			font-size: 48px;
		}
	}

	&-toggle {
		position: absolute;
		top: 88px;
		left: 31px;

		@include media($m_mob--md, $m_pc) {
			top: 67px;
			left: 0;
		}

		@include media(0, $m_mob) {
			top: 74px;
			left: auto;
			right: 20px;
		}

		&__item {
			width: 31px;
			height: 3px;
			margin: 11px 0;
		
			line-height: 0;

			@include media(0, $m_pc) {
				width: 27px;
				margin: 9.8px 0;
			}
		}

		&__button {
			width: 31px;
			height: 3px;
			padding: 0;
		
			background-color: rgba($c_black, .1);
			border: none;
			outline: none;

			transition: background-color $tr_duration $tr_easing;
		
			cursor: pointer;

			&:hover,
			&:focus {
				background-color: rgba($c_black, .6);
			}

			&.active {
				background-color: rgba($c_black, .6);
			}

			@include media(0, $m_pc) {
				width: 27px;
			}
		}
	}

	&-info {
		align-self: center;
		max-width: 307px;
		margin: 89px 0 89px 133px;

		@include media($m_mob--md, $m_pc) {
			margin: 75px 0 102px 60px;
		}

		@include media(0, 630px) {
			margin: 78px 0 188px 20px;

			z-index: 1;
		}

		.title-one {
			@include media(0, $m_mob--md) {
				margin-bottom: 0;

				font-size: 36px;
				line-height: 40px;
			}
		}
	}

	&__text {
		margin: 19px 0;

		font-family: "Crimson Text", "Georgia", serif;
		font-size: 19px;
		font-style: italic;
		line-height: 25px;
		letter-spacing: 0.4px;
		color: $c_black;

		@include media(0, $m_mob--md) {
			margin: 13px 0;

			font-size: 18px;
			letter-spacing: normal;
		}
	}

	&__img {
		position: absolute;
		right: 99px;
		bottom: 0;

		@include media($m_mob, $m_tab) {
			right: 8px;
		}

		@include media(0, $m_mob) {
			right: 0;
		}
	}

	&__add {
		margin: 0;
		padding: 12px 0 11px 0;
	
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;
		color: $c_white;
	
		background-color: #c29974;

		@include media(0, $m_mob--md) {
			padding: 12px 8px 11px 8px;
		}
	}
}

.button--slider {
	@include media(0, $m_mob--md) {
		padding: 7px 20px;
	}
}