<section class="slider">
	<div class="container">
		<div class="slider-content">
			<div class="slider-body">
				<div class="slider-control">
					<h2 class="slider__number">01</h2>
					<ul class="slider-toggle">
						<li class="slider-toggle__item"><button class="slider-toggle__button active" aria-label="Slide #1"></button></li>
						<li class="slider-toggle__item"><button class="slider-toggle__button" aria-label="Slide #2"></button></li>
						<li class="slider-toggle__item"><button class="slider-toggle__button" aria-label="Slide #3"></button></li>
						<li class="slider-toggle__item"><button class="slider-toggle__button" aria-label="Slide #4"></button></li>
					</ul>
				</div>
				<div class="slider-info">
					<h1 class="title-one">The Ooh Noo Collection</h1>
					<p class="slider__text">Designed in Slovenia</p>
					@@include('./button/index.html', {
						"class": "button--slider",
						"type": "button",
						"text": "Explore Now"
					})
				</div>
				<picture>
					<source srcset="/static/images/slider.png, /static/images/slider-retina.png 2x" media="(min-width: 1024px)">
					<source srcset="/static/images/slider-tablet.png" media="(min-width: 768px) and (max-width: 1023px)">
					<source srcset="/static/images/slider-mobile.png" media="(max-width: 767px)">
					<img class="slider__img" src="/static/images/slider.png" alt="Toy">
				</picture>
			</div>
			<p class="slider__add">Free (continental) USA shipping on all orders of $100 USD or more!</p>
		</div>
	</div>
</section>